# Include the frontend and nginx directories
!frontend/
!nginx/

# Exclude unnecessary files inside frontend
frontend/node_modules
frontend/build
frontend/.env
# Exclude other directories not needed for the frontend build
backend/
backend/.env
