* {
  margin: 0;
  padding: 0;

  position: relative;
  box-sizing: border-box;
  word-break: normal !important;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 0 !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clear{
  clear: both;
}

.center_ui {
  padding-top: 40px;
  padding-bottom: 31px;
}


.footer_language {
  margin-left: 0.5rem;
}


/* pop up ui */
.popup_form {
  z-index: 1000;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0.1,0.1,0.1,0.3);
  height: 100%;
  width: 100%;
  padding: 10px;
}


  /* main page */
@media screen and (min-width: 1200px) {
  .main_top {
    display: flex;
    margin-bottom: 40px;
  }

  .mt_elem {
    flex-grow: 5;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
  }

  .mt_elem:nth-child(2) {
    text-align: right;
  }

  .mt_elem input{
    padding-left: 20px;
  }

  .main_greeting{
    text-align: left;
  }

  .main_info_elem_wrapper {

  }

  .main_info_elem {
    position: relative;
    border: 1px solid #f2f4f5;
    border-radius: 5px;
    background-color: #f6f7f9;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
  }
  .mie_info_wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .mie_info {
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: auto;
    align-content: center;
    display: flex;
  }

  .mie_info span{
    width: 35%;
  }

  .mie_info span:nth-child(1){
    width: 35%;
  }

  .mie_info span:nth-child(2){
    width: 65%;
  }

  .mie_button_wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .mie_button {
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
  }
}


@media screen and (min-width: 575px) and (max-width: 1199px){

  .main_top {
    display: flex;
    margin-bottom: 40px;
  }

  .mt_elem {
    flex-grow: 5;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
  }

  .mt_elem:nth-child(2) {
    text-align: right;
  }

  .mt_elem input{
    padding-left: 20px;
  }

  .main_greeting{
    text-align: left;
  }

  .main_info_elem_wrapper {

  }

  .main_info_elem {
    position: relative;
    border: 1px solid #f2f4f5;
    border-radius: 5px;
    background-color: #f6f7f9;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    display: flex;
  }
  .mie_info_wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .mie_info {
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: auto;
    align-content: center;
    display: flex;
  }

  .mie_info span{
    width: 35%;
  }

  .mie_info span:nth-child(1){
    width: 35%;
  }

  .mie_info span:nth-child(2){
    width: 65%;
  }

  .mie_button_wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .mie_button {
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
  }


}

@media screen and (max-width: 574px){

  .main_top {
    margin-bottom: 40px;
  }

  .mt_elem {
    align-content: center;
  }

  .mt_elem:nth-child(2) {
    text-align: left;
    margin-top: 20px;
  }

  .mt_elem input{
    padding-left: 20px;
  }

  .main_greeting{
    text-align: left;
  }

  .main_info_elem_wrapper {

  }

  .main_info_elem {
    position: relative;
    border: 1px solid #f2f4f5;
    border-radius: 5px;
    background-color: #f6f7f9;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .mie_info_wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .mie_info {
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: auto;
    align-content: center;
    display: flex;
  }

  .mie_info span{
    width: 35%;
  }

  .mie_info span:nth-child(1){
    width: 35%;
  }

  .mie_info span:nth-child(2){
    width: 65%;
  }

  .mie_button_wrapper {
    flex-grow: 1;
    display: flex;
  }

  .mie_button {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
  }


}
