* {
  margin: 0;
  padding: 0;

  position: relative;
  box-sizing: border-box;
  word-break: normal !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 0 !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clear{
  clear: both;
}

.center_ui {
  padding-top: 76px;
  padding-bottom: 31px;
}


.footer_language {
  margin-left: 0.5rem;
}


/* pop up ui */
.popup_form {
  z-index: 1000;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0.1,0.1,0.1,0.7);
  height: 100%;
  width: 100%;
  padding: 10px;
}

.popup_form div{
  top: 40%;
}

.popup_form label{
  font-weight: bold;
  font-size: 30px;
  color: white;
}

/*common main page start*/
.main_info_elem {
  position: relative;
  border: 1px solid #f2f4f5;
  border-radius: 5px;
  background-color: #f6f7f9;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.mie_info_wrapper{
  flex-grow: 6;
  display: flex;
  flex-direction: column;
}

.mie_button_wrapper {
  flex-grow: 4;
  display: flex;
}

.mie_button {
  flex-grow: 1;
  align-content: center;
  max-height: 45px;
}

.main_greeting{
  text-align: left;
  font-weight: bold;
  font-size: 40px;
}

.main_rc_btn{
  text-align: center;
}

.main_rc_btn a{
  min-height: 54px;
  align-content: center;
}
.filter_wrap{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.filter_wrap .select_wrap{
  display: flex;
  margin-top: 20px;
}

.filter_wrap .select_wrap select{
  min-height: 28px;
  width: 45%;
  padding-left: 20px;
}

.filter_wrap .select_wrap select:nth-child(1){
  margin-right: 5%;
}

.filter_wrap .select_wrap select:nth-child(2){
  margin-left: 5%;
}

.filter_wrap .select_wrap_3{
  display: flex;
  margin-top: 20px;
}

.filter_wrap .select_wrap_3 select{
  min-height: 28px;
  width: 32%;
  padding-left: 5px;
}

.filter_wrap .select_wrap_3 select:nth-child(1){
  margin-right: 2%;
}

.filter_wrap .select_wrap_3 select:nth-child(2){
  margin-right: 2%;
}

.filter_wrap .select_wrap_3 select:nth-child(3){
  margin-right: 0;
}
/*common main page end*/
/*common register child page start*/
.register_child_elem_wrapper{
  margin-top: 40px;
}
.cr_info_elem {
  position: relative;
  border: 1px solid #f2f4f5;
  border-radius: 5px;
  background-color: #f6f7f9;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.cr_info_elem:nth-child(1) {
  margin-top: 40px;
}

.rc_text{
  font-weight: bold;
  font-size: 40px;
}

/*common register child page end*/
/*common history page start*/
.history_title {
  font-weight: bold;
}

.history_info_elem {
  position: relative;
  border: 1px solid #f2f4f5;
  border-radius: 5px;
  background-color: #f6f7f9;
  padding: 20px;
  margin: 0 auto;
}

.hie_vaccine_name{
  font-weight: bold;
}

.hie_info {
  flex-grow: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: auto;
  align-content: center;
  display: flex;
}

.hie_info span{
  width: 40%;
}

.hie_info span:nth-child(2){
  width: 60%;
}

.hie_buttons{
  margin-top: 20px;
  display: flex;
}

.hie_buttons span{
  width: 50%;
  text-align: center;
}

.hie_buttons span button{
  min-width: 120px;
}

.his_delete{
  text-align: right;
}
/*common history page end*/
/*common Notice page start*/
.notice_title {
  font-weight: bold;
}

.notice_info_elem {
  position: relative;
  border: 1px solid #f2f4f5;
  border-radius: 5px;
  background-color: #f6f7f9;
  padding: 20px;
  margin: 0 auto;
}

.nie_info {
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: auto;
  align-content: center;
}

.nie_title{
  font-size: 1.2rem;
}

.after_birth{
  display: flex;
}

.schedule{
  display: flex;
}

/*common Notice page end*/
/*common Account page start*/
.account_title{
  font-weight: bold;
}
.account_category{
  margin: 0 auto;
  margin-bottom: 40px;
  display: table;
}
.account_category select{
  width: 250px;
}

.account_cp_wrap label{
  font-weight: bold;
  align-content: center;
}

.account_cp_wrap label input{
  margin-right: 20px;
}

.ac_label{
  font-weight: bold;
}
.ac_title{
  font-weight: bold;
  margin-bottom: 20px;
}
.ac_inst{
  font-size: 2rem;
}
.ac_agree label{
  font-weight: bold;
}
/*common Account page end*/
/*common Admin Main page start*/
.admin_main_category{
  font-weight: bold;
}
.admin_main_category:nth-child(4){
  margin-top: 40px;
}
.am_parent{
  position: relative;
  border: 1px solid #f2f4f5;
  border-radius: 5px;
  background-color: #f6f7f9;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.amp_info_wrap{
  align-items: center;
}

.amp_info div span:nth-child(1){
  font-weight: bold;
}

.am_children_wrap{
 margin-top: 20px;
}
.am_child{
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.am_child:nth-child(1n){
  background-color: #182122;
  color: white;
}
.am_child:nth-child(2n){
  background-color: #84b6b1;
}
.am_child:last-child{
  margin-bottom: 0;
}
.am_child div{
  display: flex;
}
.am_child div span:nth-child(1){
  width: 50%;
  font-weight: bold;
}
.am_child div span:nth-child(2){
  width: 50%;
}
.amp_button button{
  min-width: 160px;
}
/*common Admin Main page end*/
/*common header start*/
.header_nav{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header_pop_up_wrap{
  z-index: 2000;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: rgba(0.1,0.1,0.1,0.3);
}
.header_pop_up{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  font-weight: bold;
}
.hpu_error{
  border: 1px solid red;
  color: red;
}
.hpu_inst{
  border: 1px solid green;
  color: green;
}
/*common header end*/
/*common footer start*/
.footer{
  bottom: 20px;
}

.footer label{
  font-weight: bold;
  font-size: 22px;
}
/*common footer end*/


@media screen and (min-width: 1200px) {

  /*pc main page start*/
  .main_top {
    display: flex;
    margin-bottom: 40px;
  }

  .mt_elem {
    flex-grow: 5;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
  }

  .mt_elem:nth-child(2) {
    text-align: right;
  }

  .mt_elem input{
    padding-left: 20px;
  }


  .main_info_elem {
    width: 50%;
    display: flex;
  }

  .mie_info {
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: auto;
    align-content: center;
    display: flex;
  }

  .mie_info span{
    width: 35%;
  }


  .mie_info span:nth-child(2){
    width: 65%;
  }

  .mie_button_wrapper {
    flex-direction: column;
  }

  .mie_button {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /*pc main page end*/
  /*pc register child page start*/
  .cr_info_elem {
    width: 50%;
    display: flex;
  }
  /*pc register child page end*/
  /*pc history page start*/
  .history_title {
    font-size: 3rem;
  }

  .history_info_elem {
    float: left;
    width: 40%;
    margin-bottom: 40px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
  }

  .hie_vaccine_name{
    font-size: 1.6rem;
    min-height: 80px;
  }
  /*pc history page end*/
  /*pc notice page start*/
  .notice_title {
    font-size: 3rem;
  }
  .notice_info_elem {
    float: left;
    width: 40%;
    margin-bottom: 40px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    min-height: 550px;
  }

  .nie_vaccine_name{
    min-height: 90px;
    align-content: flex-start;
  }

  .notice_reg_btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 50px;
    text-align: center;
  }

  .notice_reg_btn button{
    width: 80%;
    height: 48px;
  }
  /*pc notice page end*/
  /*pc Account page start*/
  .account_title{
    font-size: 3rem;
  }
  .account_cp_wrap{
    display: flex;
  }
  .ac_control{
    max-width: 400px;
  }
  .account_cp_wrap label{
    margin-left: 40px;
  }
  /*pc Account page end*/
  /*pc Admin Main page start*/
  .admin_main_category{
    font-size: 3rem;
  }
  .amp_info_wrap{
    display: flex;
  }
  .amp_info{
    width: 50%;
  }
  .join_only{
    width: 100%;
  }
  .amp_info div{
    display: flex;
  }
  .amp_info div span:nth-child(1){
    width: 50%;
  }
  .amp_info div span:nth-child(2){
    width: 50%;
  }
  .join_only div span:nth-child(1){
    width: 25%;
  }
  .join_only div span:nth-child(2){
    width: 75%;
  }
  .amp_button{
    width: 50%;
    text-align: center;
  }
  /*pc Admin Main page end*/
  /*pc header start*/
  .header_pop_up{
    width: 50%;
    font-size: 40px;
  }
  /*pc header end*/
}


@media screen and (min-width: 575px) and (max-width: 1199px){
  /*tablet main page start*/
  .main_top {
    margin-bottom: 40px;
    display: flex;
  }

  .mt_elem:nth-child(1) {
    width: 100%;
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
  }

  .mt_elem:nth-child(2) {
    width: 100%;
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
  }

  .mt_elem:nth-child(2) {
    text-align: right;
  }

  .mt_elem input{
    padding-left: 20px;
  }


  .main_info_elem {
    width: 80%;
    display: flex;
  }

  .mie_info_wrapper{
    max-width: 60%;
  }

  .mie_info {
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: auto;
    align-content: center;
    display: flex;
  }

  .mie_info span{
    width: 50%;
  }

  .mie_button_wrapper {
    flex-direction: column;
  }

  .mie_button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /*tablet main page end*/
  /*tablet register child page start*/
  .cr_info_elem {
    width: 80%;
    display: flex;
  }
  /*tablet register child page end*/
  /*tablet history page start*/
  .history_title {
    font-size: 2.6rem;
  }

  .history_info_elem {
    margin-bottom: 20px;
    width: 80%;
    font-size: 26px;
  }

  .hie_vaccine_name{
    font-size: 1.4rem;
    min-height: 70px;
  }
  /*tablet history page end*/
  /*tablet notice page start*/
  .notice_title {
    font-size: 2.6rem;
  }
  .notice_info_elem {
    margin-bottom: 20px;
    width: 100%;
    font-size: 26px;
    display: flex;
  }

  .nie_infos {
    width: 60%;
  }

  .notice_reg_btn {
    width: 40%;
    align-content: center;
  }

  .notice_reg_btn button {
    width: 80%;
    height: 20%;
    max-height: 48px;
  }
  /*tablet notice page end*/
  /*tablet Account page start*/
  .account_title{
    font-size: 2.6rem;
  }
  .account_cp_wrap{
    display: flex;
  }
  .ac_control{
    max-width: 260px;
  }
  .account_cp_wrap label{
    margin-left: 40px;
  }
  /*tablet Account page end*/
  /*tablet Admin Main page start*/
  .admin_main_category{
    font-size: 2.6rem;
  }
  .amp_info_wrap{
    display: flex;
  }
  .amp_info{
    width: 50%;
  }
  .join_only{
    width: 100%;
  }
  .amp_info div{
    display: flex;
  }
  .amp_info div span:nth-child(1){
    width: 50%;
  }
  .amp_info div span:nth-child(2){
    width: 50%;
  }

  .join_only div span:nth-child(1){
    width: 25%;
  }
  .join_only div span:nth-child(2){
    width: 75%;
  }
  .amp_button{
    width: 50%;
    text-align: center;
  }

  /*tablet Admin Main page end*/
  /*tablet header start*/
  .header_pop_up{
    width: 80%;
    font-size: 32px;
  }
  /*tablet header end*/

}

@media screen and (max-width: 574px){
  /*mobile main page start*/
  .main_top {
    margin-bottom: 40px;
  }

  .mt_elem {
    align-content: center;
  }

  .mt_elem:nth-child(2) {
    text-align: left;
    margin-top: 20px;
  }

  .mt_elem input{
    padding-left: 20px;
  }


  .main_info_elem {
    width: 100%;
  }

  .mie_info_wrapper{
    margin-bottom: 20px;
  }

  .mie_info {
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: auto;
    align-content: center;
    display: flex;
  }

  .mie_info span{
    width: 35%;
  }

  .mie_info span:nth-child(1){
    width: 35%;
  }

  .mie_info span:nth-child(2){
    width: 65%;
  }

  .mie_button {
    margin-left: 20px;
    margin-right: 20px;
  }
  /*mobile main page end*/
  /*tablet register child page start*/
  .cr_info_elem {
    width: 100%;
  }
  /*tablet register child page end*/
  /*mobile history page start*/
  .history_title {
    font-size: 2rem;
  }

  .history_info_elem {
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
  }

  .hie_vaccine_name{
    font-size: 1rem;
    min-height: 50px;
  }
  /*mobile history page end*/
  /*mobile notice page start*/
  .notice_title {
    font-size: 2rem;
  }

  .notice_info_elem {
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
    min-height: 450px;
  }

  .nie_infos {

  }

  .nie_vaccine_name{
    align-content: flex-start;
    font-weight: bold;
  }

  .notice_reg_btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 50px;
    text-align: center;
  }

  .notice_reg_btn button {
    width: 80%;
    height: 20%;
    max-height: 48px;
  }
  /*mobile notice page end*/
  /*mobile Account page start*/
  .account_title{
    font-size: 2rem;
  }
  .ac_control{
    max-width: 400px;
  }
  .account_cp_wrap label{
    margin-top: 20px;
    margin-left: 20px;
  }
  /*mobile Account page end*/
  /*mobile Admin Main page start*/
  .admin_main_category{
    font-size: 2rem;
  }
  .amp_info_wrap{
    align-items: center;
  }
  .amp_info{
    width: 100%;
  }
  .join_only{
    width: 100%;
  }
  .amp_info div{
    display: flex;
  }
  .amp_info div span:nth-child(1){
    width: 50%;
  }
  .amp_info div span:nth-child(2){
    width: 50%;
  }
  .join_only div span:nth-child(1){
    width: 50%;
  }
  .join_only div span:nth-child(2){
    width: 50%;
  }
  .amp_button{
    margin-top: 20px;
    text-align: center;
  }

  /*mobile Admin Main page end*/
  /*mobile header start*/
  .header_pop_up{
    width: 90%;
    font-size: 30px;
  }
  /*mobile header end*/

}
